@import './styles/bootstrap.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply bg-gray-100 m-0;
}

#app {
  @apply max-w-7xl mx-auto p-4;
}
